.child {
  background: green;
}

.teenager {
  background: yellow;
}

.adult {
  background: orange;
}

.unCorrect {
  background: transparent;
}

.correctValue {
  background: green;
}

.unCorrectValue {
  background: red;
}

.noValue {
  background: red;
}